Repository algorithm-archivists/algorithm-archive, pull requests merged in 2018-05, with the labels that each got.

#98 Add Python Implementation of Huffman Encoding
  chapters/data_compression/huffman/code/python/huffman.py
Labels: Algorithm

#101 Add import for the Python Huffman implementation to the chapter
  chapters/data_compression/huffman/huffman.md
Labels: Chapter Edit

#100 Fix two links in the Introduction chapter
  chapters/introduction.md
Labels: Chapter Edit

#99 Add a margin at the bottom of every page
  styles/website.css
Labels: Discussion, General

#85 Add Jarvis March in C#.
  chapters/computational_geometry/gift_wrapping/jarvis_march/code/cs/JarvisMarch.cs
  chapters/computational_geometry/gift_wrapping/jarvis_march/code/cs/Program.cs
  chapters/computational_geometry/gift_wrapping/jarvis_march/jarvis_march.md
Labels: Algorithm

#107 Removing useless code in tree traversal.
  chapters/tree_traversal/code/julia/Tree.jl
  chapters/tree_traversal/code/julia/Tree_example.jl
  chapters/tree_traversal/tree_traversal.md
Labels: General

#106 Adding graham.c
  chapters/computational_geometry/gift_wrapping/graham_scan/code/c/graham.c
  chapters/computational_geometry/gift_wrapping/graham_scan/graham_scan.md
Labels: Algorithm

#113 adding smallscale changes to graham implementation, fft, and thomas.
  chapters/FFT/code/julia/fft.jl
  chapters/computational_geometry/gift_wrapping/graham_scan/code/julia/graham.jl
  chapters/matrix_methods/thomas/thomas.md
Labels: Algorithm Edit, Chapter Edit

#108 Adding the split-operator chapter and code
  README.md
  chapters/physics_solvers/quantum/quantum.md
  chapters/physics_solvers/quantum/split-op/code/julia/split_op.jl
  chapters/physics_solvers/quantum/split-op/split-op.md
  update_site.sh
Labels: Algorithm, Chapter, Chapter Edit

#109 Adding missing examples for Tree Traversal and FFT in C.
  chapters/FFT/code/c/fft.c
  chapters/FFT/cooley_tukey.md
  chapters/tree_traversal/code/c/tree_traversal.c
  chapters/tree_traversal/code/c/utility.h
  chapters/tree_traversal/tree_traversal.md
Labels: Algorithm Edit, Chapter Edit

#116 PR to main repository
  CONTRIBUTORS.md
  chapters/sorting_searching/bubble/code/python/bubblesort.py
Labels: Algorithm

#115 adding draft of monte carlo chapter
  SUMMARY.md
  chapters/monte_carlo/code/julia/monte_carlo.jl
  chapters/monte_carlo/monte_carlo.md
  chapters/monte_carlo/res/13311.png
  chapters/monte_carlo/res/195583.png
  chapters/monte_carlo/res/31.png
  chapters/monte_carlo/res/monte_carlo.gif
  chapters/monte_carlo/res/square_circle.png
Labels: Algorithm, Chapter

#117 Fix links to not point to the old repository anymore and remove a file that shouldn't be here.
  chapters/how_to_contribute.md
  chapters/principles_of_code/version_control.md
  chapters/principles_of_code/version_control.md2
Labels: Chapter Edit

#82 Add Huffman in C#.
  chapters/data_compression/huffman/code/cs/HuffmanCoding.cs
  chapters/data_compression/huffman/code/cs/Program.cs
  chapters/data_compression/huffman/huffman.md
Labels: Algorithm

#111 Re-added tree traversal in Haskell, pre/post/in-order
  chapters/tree_traversal/code/haskell/TreeTraversal.hs
  chapters/tree_traversal/tree_traversal.md
Labels: Algorithm, Chapter Edit
