Repository algorithm-archivists/algorithm-archive, pull requests merged in 2021-09, with the labels that each got.

#855 Verlet Integration: Output standardization
  contents/verlet_integration/code/asm-x64/verlet.s
  contents/verlet_integration/code/c++/verlet.cpp
  contents/verlet_integration/code/c/verlet.c
  contents/verlet_integration/code/clisp/verlet.lisp
  contents/verlet_integration/code/fortran/verlet.f90
  contents/verlet_integration/code/golang/verlet.go
  contents/verlet_integration/code/haskell/verlet.hs
  contents/verlet_integration/code/java/Verlet.java
  contents/verlet_integration/code/javascript/verlet.js
  contents/verlet_integration/code/julia/verlet.jl
  contents/verlet_integration/code/kotlin/verlet.kt
  contents/verlet_integration/code/nim/verlet.nim
  contents/verlet_integration/code/python/verlet.py
  contents/verlet_integration/code/ruby/verlet.rb
  contents/verlet_integration/code/rust/verlet.rs
  contents/verlet_integration/code/swift/verlet.swift
Labels: Implementation Edit, lang: julia, lang: python, lang: c++, lang: c, lang: java, lang: javascript, lang: rust, lang: lisp, lang: go, lang: swift, lang: nim, lang: ruby, lang: fortran, lang: kotlin, lang: haskell

#858 Fix asm exit codes
  contents/monte_carlo_integration/code/asm-x64/monte_carlo.s
  contents/verlet_integration/code/asm-x64/verlet.s
Labels: Implementation Edit, lang: asm

#836 Flood fill in Coconut
  contents/flood_fill/code/coconut/flood_fill.coco
  contents/flood_fill/flood_fill.md
Labels: Implementation, lang: coconut

#814 Added Barnsley fern in Coconut (+ .editorconfig for Coconut)
  .editorconfig
  contents/barnsley/barnsley.md
  contents/barnsley/code/coconut/barnsley.coco
Labels: Implementation, lang: coconut

#734 Added the Jarvis march in Coconut
  contents/jarvis_march/code/coconut/jarvis_march.coco
  contents/jarvis_march/jarvis_march.md
Labels: Implementation, lang: coconut

#861 Change folder structure of convolutions
  contents/convolutions/1d/1d.md
  contents/convolutions/1d/code/julia/1d_convolution.jl
  contents/convolutions/2d/2d.md
  contents/convolutions/2d/code/julia/2d_convolution.jl
  contents/convolutions/2d/code/python/2d_convolution.py
  contents/convolutions/convolutional_theorem/code/julia/convolutional_theorem.jl
  contents/convolutions/convolutional_theorem/convolutional_theorem.md
Labels: General

#732 Re-added Huffman encoding in Coconut
  contents/huffman_encoding/code/coconut/huffman.coco
  contents/huffman_encoding/huffman_encoding.md
Labels: Implementation, lang: coconut

#846 Add C# implemenation for 1D Convolutions
  contents/convolutions/1d/1d.md
  contents/convolutions/code/csharp/1DConvolution.cs
Labels: Implementation, lang: c#

#722 IFS Common Lisp implementation
  contents/IFS/IFS.md
  contents/IFS/code/clisp/ifs.lisp
Labels: Implementation, lang: lisp

#760 Add Monte Carlo in PowerShell
  contents/monte_carlo_integration/code/powershell/MonteCarlo.ps1
  contents/monte_carlo_integration/monte_carlo_integration.md
Labels: Implementation, Hacktoberfest, hacktoberfest-accepted, lang: powershell

#818 Add Rust implementation for The Barnsley Fern
  contents/barnsley/barnsley.md
  contents/barnsley/code/rust/Cargo.toml
  contents/barnsley/code/rust/src/main.rs
Labels: Implementation, lang: rust
