Repository algorithm-archivists/algorithm-archive, pull requests merged in 2021-11, with the labels that each got.

#884 Change Racket lang include from lisp to racket for Euclidean algorithm
  contents/euclidean_algorithm/euclidean_algorithm.md
Labels: Implementation Edit, lang: racket

#851 [Haskell] Barnsley Fern
  contents/barnsley/barnsley.md
  contents/barnsley/code/haskell/Barnsley.hs
Labels: Implementation, lang: haskell

#934 Fixing C warnings
  SConstruct
  contents/IFS/code/c/IFS.c
  contents/barnsley/code/c/barnsley.c
  contents/cooley_tukey/code/c/fft.c
  contents/euclidean_algorithm/code/c/euclidean_example.c
  contents/flood_fill/code/c/flood_fill.c
  contents/gaussian_elimination/code/c/gaussian_elimination.c
  contents/huffman_encoding/code/c/huffman.c
  contents/split-operator_method/code/c/split_op.c
  contents/stable_marriage_problem/code/c/stable_marriage.c
Labels: Problem, Implementation Edit, lang: c

#952 Fix barnsley rust code path
  contents/barnsley/barnsley.md
Labels: lang: rust
