Repository algorithm-archivists/algorithm-archive, pull requests merged in 2021-12, with the labels that each got.

#933 Fix warnings on size_t to int conversions on C++ Tree Traversal
  contents/tree_traversal/code/cpp/tree_example.cpp
Labels: Implementation Edit, lang: c++

#943 Fix warning on MSVC for barnsley C++ code
  contents/barnsley/code/cpp/barnsley.cpp
Labels: Implementation Edit, lang: c++

#898 Add Approximate counting in Java
  contents/approximate_counting/approximate_counting.md
  contents/approximate_counting/code/java/ApproximateCounting.java
Labels: Implementation, hacktoberfest-accepted, lang: java

#924 Implement Stacks and Queues in Rust.
  CONTRIBUTORS.md
  contents/stacks_and_queues/code/rust/Queue.rs
  contents/stacks_and_queues/code/rust/SConscript
  contents/stacks_and_queues/code/rust/Stack.rs
  contents/stacks_and_queues/stacks_and_queues.md
Labels: Implementation, lang: rust

#929 New chapter "Metropolis" with Python Implementation
  .gitignore
  CONTRIBUTORS.md
  SUMMARY.md
  contents/metropolis/code/python/metropolis.py
  contents/metropolis/metropolis.md
  contents/metropolis/res/1D_particles.png
  contents/metropolis/res/animated_metropolis.gif
  contents/metropolis/res/animated_metropolis.mp4
  contents/metropolis/res/animated_random_walk.gif
  contents/metropolis/res/animated_random_walk.mp4
  contents/metropolis/res/multiple_histograms.png
  contents/metropolis/res/plot_of_P.png
  contents/probability/distributions/distributions.md
  contents/probability/distributions/res/double_die_frequencies.png
  contents/probability/distributions/res/normal_distribution.png
  literature.bib
Labels: Implementation, Chapter, lang: python

#949 Added Coconut compilation
  SConstruct
  sconscripts/coconut_SConscript
Labels: lang: coconut

#967 Removing probability folder
  SUMMARY.md
  contents/metropolis/metropolis.md
  contents/probability_distributions/distributions.md
  contents/probability_distributions/res/double_die_frequencies.png
  contents/probability_distributions/res/normal_distribution.png
Labels: Chapter Edit, Discussion

#662 Fixing Huffman Encoding edge case failure for assembly x64
  contents/huffman_encoding/code/asm-x64/huffman.s
Labels: Implementation Edit, lang: asm

#708 Update JavaScript Jarvis March to use points from Graham Scan
  contents/jarvis_march/code/javascript/jarvis-march.js
Labels: Implementation Edit, lang: javascript

#900 Added approximate counting in Rust
  contents/approximate_counting/approximate_counting.md
  contents/approximate_counting/code/rust/Cargo.toml
  contents/approximate_counting/code/rust/approximate_counting.rs
Labels: Implementation, lang: rust

#973 Added Java compilation
  SConstruct
  contents/stacks_and_queues/code/java/QueueTest.java
  contents/stacks_and_queues/code/java/StackTest.java
  contents/stacks_and_queues/stacks_and_queues.md
  sconscripts/java_SConscript
Labels: SCons

#977 Using SCons tools
  SConstruct
  builders/cargo.py
  builders/coconut.py
  builders/go.py
  builders/rustc.py
  contents/stacks_and_queues/code/rust/SConscript
  sconscripts/rust_SConscript
Labels: SCons

#979 Updated tree traversal chapter
  contents/tree_traversal/code/python/tree_traversal.py
  contents/tree_traversal/tree_traversal.md
Labels: Implementation Edit, lang: python

#755 Rust version of IFS
  contents/IFS/IFS.md
  contents/IFS/code/rust/Cargo.toml
  contents/IFS/code/rust/IFS.rs
Labels: Implementation, Hacktoberfest, hacktoberfest-accepted, lang: rust

#737 Forward Euler method in Coconut
  contents/forward_euler_method/code/coconut/euler.coco
  contents/forward_euler_method/forward_euler_method.md
Labels: Implementation, lang: coconut
